html{
    background-color: black;
    color: orange;
}

.title{
    color: orange;
    font-family: 'Creepster', cursive;
}
.skeletonfloss{
    height: 600px;
    margin-top: 50px;
    margin-left: -20px;
    z-index: -3px;
}

#underscore{
    background-color: black;
    border: 2px solid orange;
    margin-top: -580px;
    width: 300px;
    margin-left: 1050px;
    color: white;
    font-family: 'Creepster', cursive;
    text-align: center;
    height: 50px;
}


#rightguess{
    background-color: black;
    border: 2px solid orange;
    margin-top: 100px;
    margin-left: 1100px;
    width: 200px;
    height: 50px;
    color: white;
}


#wrongguess{
    background-color: black;
    border: 2px solid orange;
    margin-top: 10px;
    width: 200px;
    margin-left: 1100px;
    height: 50px;
    color: white;
}

