html{
    background-color: rgba(0,0,0,0.9);
    color: white;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: black; 
    z-index: -3;
}

.title{
    color: orange;
    font-family: 'Creepster', cursive;
    margin-left: 180px;
    font-size: 40px;
}


.edition{
    color: orange;
    font-family: 'Creepster', cursive;
    margin-left: 130px;
}
.skeletonfloss{
    height: 500px;
    margin-top: 10px;
    margin-left: -20px;
    z-index: -4px;
}

#underscore{
    margin-top: -440px;
    width: 500px;
    margin-left: 740px;
    color: white;
    font-size: 50px;
    font-family: 'Creepster', cursive;
    text-align: center;
    height: 50px;
}



#wrongguess{
    margin-top: 10px;
    width: 200px;
    margin-left: 900px;
    height: 50px;
    color: orange;
    font-size: 50px;
}


 #wrongs{
margin-left: 845px;
color: orange;
font-size: 50px;

}

.press-key{
    color:orange;
    margin-left: 850px;
}
